DB_HOST=localhost
DB_USER=tu_usuario_o_postgres
DB_PASSWORD=tu_password_segura
DB_NAME=m8_evaluacion_portafolio
DB_PORT=5432
PORT=3000
JWT_SECRET=tu_super_token_jwt_muy_seguro_y_dificil_de_adivinar
FIRST_USER_EMAIL=tu_email_inicial@dominio.com
FIRST_USER_PASSWORD=tu_contraseña_segura_inicial!